*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
.slideBox{
    width: 960px;
    height: 360px;
    border:5px solid #212121;
    border-radius: 10px;
    margin: 2rem auto;
    position: relative;
}
.slideImg{
    position: fixed;
    width: 960px;
    height: 360px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition:all 1s ease-in;
}
.slideImg:first{
    visibility: visible !important;
    opacity: 1;
}

.left{
    position: absolute;
    left: 10px;
    top: 160px;
    z-index: 10;
    font-size:1.5rem;
    padding: 10px 15px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
}
.right{
    position: absolute;
    right: 10px;
    top: 160px;
    z-index: 10;
    font-size:1.5rem;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ddd;
}
